html {
  @apply bg-white;
}

body,
html {
  @apply bg-body font-body font-light;
}

p {
  a {
    font-weight: theme(fontWeight.light);
    text-decoration: underline;
    transition: opacity 300ms ease-in-out;
    &:hover {
      transition: opacity 300ms ease-in-out;
      opacity: 0.75;
    }
  }
}

h2,
h3,
h4 {
  a {
    text-decoration: underline;
    transition: opacity 300ms ease-in-out;
    &:hover {
      transition: opacity 300ms ease-in-out;
      opacity: 0.75;
    }
  }
}

.menu {
  @apply flex flex-col justify-between w-full;

  li {
    position: relative;
    margin-top: theme(spacing.5);

    a {
      display: block;
      position: relative;

      padding-left: theme(spacing.4);
      padding-right: theme(spacing.4);
      padding-top: theme(spacing.1);
      font: theme(fontFamily.title);
      text-transform: lowercase;
      initial-letter: theme(letterSpacing.wider);
      text-align: right;

      @media screen(xs) {
        font-size: theme(fontSize.xs);
        line-height: theme(lineHeight.4);
      }

      @media screen(sm) {
        font-size: theme(fontSize.sm);
        line-height: theme(lineHeight.5);
      }

      @media screen(md) {
        padding-left: theme(spacing.8);
        padding-right: theme(spacing.8);
        padding-top: theme(spacing.2);
        font-size: theme(fontSize.xl);
        line-height: theme(lineHeight.7);
      }

      z-index: 1;

      &:hover {
        &:before {
          opacity: 1;
          transition: opacity 150ms ease-in-out;
        }
      }

      &.selected {
        font-weight: theme(fontWeight.bold);
      }
    }
    a::before {
      transition: opacity 150ms ease-in-out;
      content: "→";
      color: black;
      margin-right: 0.1em;
      opacity: 0;
      z-index: -1;
    }
  }
}

.site-title {
  @apply font-title font-black tracking-wide text-4xl leading-none mr-4 mt-8;

  @apply md:text-5xl md:mr-8;
}

.ui-header {
  @apply font-ui font-semibold text-lg tracking-wide uppercase;
}

.mirror {
  transform: scale(-1, 1);
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in {
  animation: fadein 2s;
}

.filter-grayscale {
  filter: grayscale(100%);
}

.site-color-purple {
  .bg-site-color {
    background: theme("colors.purple.200");
  }
  .menu li a {
    &:before {
      color: theme("colors.purple.400");
    }
  }
}
.site-color-violet {
  .bg-site-color {
    background: theme("colors.violet.200");
  }
  .menu li a {
    &:before {
      color: theme("colors.violet.400");
    }
  }
}
.site-color-sky {
  .bg-site-color {
    background: theme("colors.sky.200");
  }
  .menu li a {
    &:before {
      color: theme("colors.sky.400");
    }
  }
}
.site-color-gray {
  .bg-site-color {
    background: theme("colors.gray.200");
  }
  .menu li a {
    &:before {
      color: theme("colors.gray.400");
    }
  }
}
.site-color-stone {
  .bg-site-color {
    background: theme("colors.stone.200");
  }
  .menu li a {
    &:before {
      color: theme("colors.stone.400");
    }
  }
}
.site-color-slate {
  .bg-site-color {
    background: theme("colors.slate.200");
  }
  .menu li a {
    &:before {
      color: theme("colors.slate.400");
    }
  }
}
.site-color-amber {
  .bg-site-color {
    background: theme("colors.amber.200");
  }
  .menu li a {
    &:before {
      color: theme("colors.amber.400");
    }
  }
}
.site-color-lime {
  .bg-site-color {
    background: theme("colors.lime.200");
  }
  .menu li a {
    &:before {
      color: theme("colors.lime.400");
    }
  }
}
.site-color-emerald {
  .bg-site-color {
    background: theme("colors.emerald.200");
  }
  .menu li a {
    &:before {
      color: theme("colors.emerald.400");
    }
  }
}
.site-color-cyan {
  .bg-site-color {
    background: theme("colors.cyan.200");
  }
  .menu li a {
    &:before {
      color: theme("colors.cyan.400");
    }
  }
}
.site-color-fuchsia {
  .bg-site-color {
    background: theme("colors.fuchsia.200");
  }
  .menu li a {
    &:before {
      color: theme("colors.fuchsia.400");
    }
  }
}
.site-color-rose {
  .bg-site-color {
    background: theme("colors.rose.200");
  }
  .menu li a {
    &:before {
      color: theme("colors.rose.400");
    }
  }
}
.site-color-red {
  .bg-site-color {
    background: theme("colors.red.200");
  }
  .menu li a {
    &:before {
      color: theme("colors.red.400");
    }
  }
}
.site-color-green {
  .bg-site-color {
    background: theme("colors.green.200");
  }
  .menu li a {
    &:before {
      color: theme("colors.green.400");
    }
  }
}
.site-color-blue {
  .bg-site-color {
    background: theme("colors.blue.200");
  }
  .menu li a {
    &:before {
      color: theme("colors.blue.400");
    }
  }
}
.site-color-indigo {
  .bg-site-color {
    background: theme("colors.indigo.200");
  }
  .menu li a {
    &:before {
      color: theme("colors.indigo.400");
    }
  }
}
.site-color-teal {
  .bg-site-color {
    background: theme("colors.teal.200");
  }
  .menu li a {
    &:before {
      color: theme("colors.teal.400");
    }
  }
}
.site-color-pink {
  .bg-site-color {
    background: theme("colors.pink.200");
  }
  .menu li a {
    &:before {
      color: theme("colors.pink.500");
    }
  }
}
.site-color-gray {
  .bg-site-color {
    background: theme("colors.gray.200");
  }
  .menu li a {
    &:before {
      color: theme("colors.gray.400");
    }
  }
}
.site-color-yellow {
  .bg-site-color {
    background: theme("colors.yellow.200");
  }
  .menu li a {
    &:before {
      color: theme("colors.yellow.400");
    }
  }
}
.site-color-orange {
  .bg-site-color {
    background: theme("colors.orange.200");
  }
  .menu li a {
    &:before {
      color: theme("colors.orange.400");
    }
  }
}
