<div class="">
  <p>
    I'm a Minneapolis born nerd, currently stuck in Brooklyn
    working as a software developer. If you're interested in my
    professional work, checkout my <.link patch="/résumé">résumé</.link>.
  </p>
  <br />
  <p>
    I also like to do a lot of hobbyist software work, including dabbling
    in video game creation. When I'm not being a nerd for work I am also a
    nerd for fun.
  </p>
  <div class="flex mt-12 leading-loose">
    <div class="flex-1">
      <p class="">
        <.icon name="hero-code-bracket" class="w-4 h-4 mr-2" />
        <a href="https://github.com/kurtome" target="_blank">kurtome</a>
      </p>
      <p>
        <.icon name="hero-envelope" class="w-4 h-4 mr-2" />
        <a href="mailto:kurt@melby.me">
          kurt@melby.me
        </a>
      </p>
    </div>
  </div>
  <div class="mt-16 flex items-center justify-between">
    <p>that me</p>
    <p>&rarr;</p>
    <figure class="w-32 md:w-40">
      <img
        class="rounded-full filter-grayscale"
        src="https://lh3.googleusercontent.com/3yLlf99OEZP93KhTxMNS44knCl1J2LKfqlFCnZnZKbsOsN5b_PAVcCQUvOafY5ZdwscjBbkv6AJn_OW6McvXVMugFYjr1nb7G6s4brUi1O88YzJFJvt5y8Ems0I3Lb3tJmANT486PCIbaxwhp8lJWOBhLoujKsqnfTtOBz57cXBP0_L1C60RQCYqcb1-vXnZrNeA_v_DF-vPPSCHj8Q9IGfyymsgGCXl65l713XwZe6gQHnzhmnqLQ9GoQJ7V8AbwCrNlI8yCt8KzPQ49eAzB0j1bUzVTOhy49cAO7FogJX0upXh2S10ZTzAz_7LZ7APjVBuxCCHr3V3UtlPfXJDBbn1yj72ka0g9pJTJwNCDJzJ4YaxYeo3rMzRIroXsrzw8cTgRPNnqvYYz0w_7433lwRmlwcriDUAvmgJkVale9FaMPbDfvzgvrnt8o16qe-FqeSl2ITtQjxx4CDy8SeL_7TjuiBrezi0JZZpPSUY_ey_KvsRQqYlLesNSLPiVtINc9MLw5KarVSlOQWV7ytvf3Cjx2laIR-mDNcBfYTkFZm3BkzsvKJHKx6Vsy6KykBiYCgXnNEq0eY1Zh5ZjPLRar4w0dtu9Aat3PmiUKqHvapFEj3kXX-wjTwrmY91an-QAOG9-J8b9l9S0B2x53I5wIWXSDKrKLIpbxQrsZzhNe6GYMS6PhKSXp0DX-qXIL3BnxZcGWle0b3e2JRgxrhVI8jX7g=s606-no"
      />
    </figure>
  </div>
  <div class="mt-8 flex items-center justify-between">
    <figure class="w-32 md:w-40">
      <img
        class="rounded-full filter-grayscale"
        src="https://lh3.googleusercontent.com/x_upJCe-AwOnqrXhFKF7zXwReSm5ha1zlpfbR7zmU0SnOS7bpx5JYwlvNmettNe85XWpeaxxiVJcCyDBAF37tCLdRYpU79GpMc6coNjKPKqGe-L3xQ6TPnCe63DNaReiLer_dQdOEuBYEVi9M3ktr7o__3-jlph_2rDnpaqxgE_oRNJeLGrn1Onyumufw-CuixnbKSNXabxqSNGkoO2P2-0GnThdwbHTqjc4JuK46h3PDl7rwQtA0_f-hScSR-CCh1t0-zzSBlyGIOTsT6V9zFQqv3JEyQwmtIWN2CHjQzljhdkrPDqK30z-2HexnUjboCqHXiqXIXoAhTq3dtDPPrnJ3GMr4z85LTzl9Gr6aRnSxx6xfbGXAr7DKQpHv5oRe-XtZ56_6HMMVOy4XC0tBVGV_6dpd9k0BC4ca0FCvSuDrJXN10w2oiiCdSNtQQnXVv7rI14Wmk4UL6k_RcHNcFcroLif-KJbwLmVE6pvtrL961xvCWn4LX6XtsWbSUd8D18Jw2LJVnjQDLfDfiWa3csV_qVb47xBmrSjYu8cZJtIvasmepPsoG09yPuu0eGSKCWZ71W4kH3g7t-znJbjDqynOVJk4STzfb2Cg6sCuy6N9D69M9LJLJdV9qDE7wMJ0R8v38g03c8o4jMPpeFUl_UXjeoV7yhAlUjXAIcSAWTlOhnGtoDVHr810vnmrLjAnD3BqzYdB7sVp6fOI4_fWaqRHA=s613-no"
      />
    </figure>
    <p class="">&larr;</p>
    <p class="">that my dog</p>
  </div>
</div>
